<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <a href="/auth/logout">Logout</a>
    <h1>Howdy <%= name %>!</h1> 
    <h2>Just confirming your lastname is <%= lname %></h2>
</body>
</html>

